.ChatPicker {
  padding: 1.1rem 1.5rem;
  border-bottom: .5px solid rgba(#000, .1);
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;

  &:hover {
    background-color: rgba(#000, .05);
  }
}

.chatLogo {
  margin-right: 1rem;
  border: 1px solid rgba(#000, .3);
  border-radius: 50%;
  display: block;
  width: 35px;
  height: 35px;
}