.ChatPicker {
  padding: 1.1rem 1.25rem;
  border-bottom: .5px solid rgba(#000, .1);
  font-size: 1rem;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
    width: 100%;
    color: #000000;
    text-decoration: none;
  }

  &:hover {
    background-color: rgba(#000, .05);
  }
  @media screen and (max-width: 768px){
    padding: 1rem;
  }
}

.chatLogo {
  margin-right: 1rem;
  border: 1px solid rgba(#000, .3);
  border-radius: 50%;
  display: block;
  width: 35px;
  height: 35px;

  @media screen and (max-width: 768px){
    margin-right: 0;
  }
}

.chatTitle {

  @media screen and (max-width: 768px){
    display: none;
  }
}