.Button {
  padding: .5rem 1rem;
  border: 1px solid #0984e3;
  border-radius: 5px;
  outline: none;
  background: #0984e3;
  color: #fff;
  text-transform: uppercase;
  transition: all .3s ease;
  cursor: pointer;

  &:active {
    background: rgba(#0984e3, .8);
  }
  &:focus {
    box-shadow: 0 0 10px 0 rgba(#0984e3, .75);
  }
}