.Message {
  text-align: left;

  .MessageContent {
    margin: .5rem 0;
    padding: .5rem 1rem;
    border: 1px solid rgba(#000, .1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;

    time {
      align-self: flex-end;
    }
  }
}

.MessageIn {

  .MessageContent {
    margin-left: 0;
    margin-right: auto;
    background: rgba(#18dcff, .25);
  }
}

.MessageOut {

  .MessageContent {
    margin-left: auto;
    margin-right: 0;
    background: rgba(#26de81, .35);
  }
}

