.Message {
  text-align: left;

  .MessageContent {
    position: relative;
    margin: .5rem 0;
    padding: .5rem 1rem;
    border: 1px solid rgba(#000, .1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;

    time {
      align-self: flex-end;
    }
  }

  .delete, .edit{
    border: none;
    outline: none;
    background: none;
    color: rgba(#000, .5);
    font-size: 1rem;
    cursor: pointer;
  }

  .delete {
    position: absolute;
    top: .5rem;
    right: 1rem;
  }

  .edit {
    position: absolute;
    top: .5rem;
    right: 2rem;
  }

  .editField {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
  }

}

.MessageIn {
  .MessageContent {
    margin-left: 0;
    margin-right: auto;
    background: rgba(#18dcff, .25);
  }
}

.MessageOut {
  .MessageContent {
    margin-left: auto;
    margin-right: 0;
    background: rgba(#26de81, .35);
  }
}

